<.page_heading display_name={@group.display_name} japanese_name={@group.japanese_name} />
<.group_overview group={@group} />
<.group_members group={@group} />
<.person_filmography selected_filmography={@selected_filmography} />
