<.page_heading display_name={@person.display_name} japanese_name={@person.japanese_name} />
<.person_overview person={@person} />
<.person_accolades accolades={@accolades} />
<.person_filmography selected_filmography={@selected_filmography} />
