<div class="text-center w-fit m-auto">
  <h1 class="font-display tracking-wider uppercase p-4 text-2xl text-gray-700">
    <%= @entity.display_name %>
    <br />
    <span class="font-japanese font-extrabold tracking-[.2em] uppercase p-2 text-base text-gray-500">
      <%= @entity.metadata["japanese_name"] %>
    </span>
  </h1>
</div>
<div class="text-center w-fit m-auto">
  <img class="rounded-lg drop-shadow-lg" src={@entity.avatar_url} />
</div>
