<div class="p-4">
  <header>
    <div>
      <a href={~p"/dev/admin"}>Admin</a>
      <a href={~p"/dev/admin/people"}>People</a>
    </div>
  </header>
</div>
<div class="p-4">
  <main class="px-4 py-10 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-5xl">
      {@inner_content}
    </div>
  </main>
</div>
