<.about_title active_section={:acknowledgements} />
<.named_divider name="Influences" />
<div class="lg:grid lg:grid-cols-3">
  <.acknowledgement_card
    title="Barry's Temple of Godzilla"
    domain="godzillatemple.com"
    url="http://godzillatemple.com/"
    author="Barry Goldberg"
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/influences/Godzilla%20Temple%20title.gif"
  />
  <.acknowledgement_card
    title="Godzilla and Other Monster Music"
    domain="godzillamonstermusic.com"
    url="http://www.godzillamonstermusic.com/godzilla.htm"
    author="Lawrence Tuczynski"
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/influences/Godzilla%20Monster%202.jpg"
  />
  <.acknowledgement_card
    title="Godzilla Stomp"
    domain="gojistomp.org"
    alias="Gary's Godzilla Zone"
    author={~s("Gary")}
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/influences/Godzilla%20Stomp%20Jr.jpg"
  />
  <.acknowledgement_card
    title="Godzilla Tower"
    url="https://www.angelfire.com/movies/GodzillaTower/Homepage.htm"
    domain="angelfire.com/movies/GodzillaTower"
    author={~s("Iguanoman")}
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/influences/godzillatower.png"
  />
  <.acknowledgement_card
    title="Kaiju Headquarters"
    domain="kaijuhq.org"
    author="Jordan Twining"
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/influences/Kaiju%20Headquarters%20title.jpg"
  />
  <.acknowledgement_card
    title="Kaijuphile"
    alias="Rodan's Roost"
    domain="kaijuphile.com"
    author="Clint Lee Warner & Brandon Waggle"
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/influences/KaijuPhile%20(1).jpg"
  />
  <.acknowledgement_card
    title="Monster Zero News"
    domain="monsterzero.us"
    author="Aaron Smith"
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/influences/Monster%20Zero%20News%20Header.jpg"
  />
  <.acknowledgement_card
    title="SciFi Japan"
    url="http://scifijapan.com/articles"
    domain="scifijapan.com"
    author="Keith Aiken & Bob Johnson"
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/influences/New%20Logo%20from%20Scifijapan.jpeg"
  />
  <.acknowledgement_card
    title="Stomp Tokyo"
    url="http://www.stomptokyo.com/"
    domain="stomptokyo.com"
    author="Chris Holland & Scott Hamilton"
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/influences/Stomptokyo%20Masthead.jpg"
  />
  <.acknowledgement_card
    title="Toho Kingdom"
    url="https://www.tohokingdom.com/"
    domain="tohokingdom.com"
    author="Anthony Romero & Co."
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/influences/Toho%20Kingdom%20Banner.png"
  />
  <.acknowledgement_card
    title="Tokyo Monsters"
    domain="tokyomonsters.com"
    author="James Ballard"
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/influences/Tokyo%20Monsters%20Banner.jpg"
  />
</div>
<.named_divider name="Resources" />
<div class="lg:grid lg:grid-cols-3">
  <.acknowledgement_card
    title="The Japanese Movie Database"
    domain="jmdb.ne.jp"
    url="http://www.jmdb.ne.jp/"
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/resources/jmdb.png"
  />
  <.acknowledgement_card
    title="Japanese Wikipedia"
    domain="ja.wikipedia.org"
    url="https://ja.wikipedia.org/wiki/%E3%83%A1%E3%82%A4%E3%83%B3%E3%83%9A%E3%83%BC%E3%82%B8"
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/resources/ja-wikipedia.png"
  />
  <.acknowledgement_card
    title="Kadokawa's Official Film Library"
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/resources/Kadokawa%20logo.png"
  />
  <.acknowledgement_card
    title="KaijuCast"
    domain="kaijucast.com"
    author="Kyle Yount"
    url="http://www.kaijucast.com/"
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/resources/Header%20Background.png"
  />
  <.acknowledgement_card
    title="Midnight Eye"
    domain="midnighteye.com"
    author="Tom Mes, Jasper Sharp & Martin Mes"
    url="http://www.midnighteye.com/"
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/resources/Midnight%20Eye%20logo.png"
  />
  <.acknowledgement_card
    title="Toho's Official Film Library"
    url="https://31fb9f38.viewer.kintoneapp.com/public/0a3f41a74b8bb9e879c82e5240035410e01df4c27f0dfc1d2ef44495962b1f44"
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/resources/Movie%20Room%20Logo.jpg"
  />
  <.acknowledgement_card
    title="Vantage Point Interviews"
    domain="vantagepointinterviews.com"
    author="Brett Homenick"
    url="https://vantagepointinterviews.com/"
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/resources/vantagepointinterviews.png"
  />
</div>
<.named_divider name="Books" />
<div class="lg:grid lg:grid-cols-3">
  <.acknowledgement_card
    title="A Critical History and Filmography of Toho's Godzilla Series"
    author="David Kalat"
    isbn="978-1476672946"
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/books/Godzilla%20Series%20Book.jpg"
  />
  <.acknowledgement_card
    title="The Big Book of Japanese Monster Movies"
    subtitle="The Lost Films"
    author="John LeMay"
    isbn="978-1701683945"
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/books/Japanese%20Monster%20Book.jpg"
  />
  <.acknowledgement_card
    title="Godzilla FAQ"
    author="Brian Solomon"
    isbn="978-1495045684"
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/books/Godzilla%20FAQ%20book.jpg"
  />
  <.acknowledgement_card
    title="Godzilla On My Mind"
    subtitle="Fifty Years of the King of the Monsters"
    author="William Tsutsui"
    isbn="978-1403964748"
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/books/Godzilla%20on%20My%20Mind%20book.jpg"
  />
  <.acknowledgement_card
    title="Godzilla"
    subtitle="The Official Guide to the King of the Monsters"
    isbn="978-1787398993"
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/books/Godzilla%20Ultimate%20Guide.jpg"
  />
  <.acknowledgement_card
    title="Ishiro Honda"
    subtitle="A Life in Film, from Godzilla to Kurosawa"
    author="Steve Ryfle & Ed Godziszewski"
    isbn="978-0819500410"
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/books/Ishiro%20Honda%20book.jpg"
  />
  <.acknowledgement_card
    title="Monsters Are Attacking Tokyo!"
    subtitle="The Incredible World of Japanese Fantasy Films"
    author="Stuart Galbraith IV"
    isbn="978-0922915477"
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/books/Maat%20Monsters%20Attack%20Tokyo.jpg"
  />
  <.acknowledgement_card
    title="The Official Godzilla Compendium"
    author="J.D. Lees & Marc Cerasini"
    isbn="978-0679888222"
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/books/Godzilla%20Compendium%20RH.jpg"
  />
  <.acknowledgement_card
    title="Something Like An Autobiography"
    author="Akira Kurosawa"
    isbn="978-0394714394"
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/books/Something%20Like%20An%20Autobiography.jpg"
  />
</div>
<.named_divider name="Labels" />
<div class="lg:grid lg:grid-cols-3">
  <.acknowledgement_card
    history="Defunct, licenses owned by Sentai Filmworks"
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/labels/AD%20Vision%20logo.png"
    title="ADV Films"
  >
    <:works>
      The Heisei <i>Gamera</i> films, <i>The Princess Blade</i>, <i>Parasite Eve</i>
    </:works>
  </.acknowledgement_card>
  <.acknowledgement_card
    history="Bought by Lionsgate"
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/labels/Anchor%20Bay%20Entertainment%20logo.png"
    title="Anchor Bay"
  >
    <:works><i>Battle Royale</i> & <i>Battle Royale II: Requiem</i></:works>
  </.acknowledgement_card>
  <.acknowledgement_card
    url="https://www.arrowvideo.com/"
    domain="arrowvideo.com"
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/labels/Arrow%20Video%203.svg.png"
    title="Arrow Video"
  >
    <:works>
      The <i>Bloodthirsty</i>
      trilogy, the <i>Daimajin</i>
      series, the complete <i>Gamera</i>
      series, <i>Dark Water</i>, <i>The Invisible Man Appears</i>, the <i>One Missed Call</i>
      series, the <i>Ring</i>
      series, the Shinya Tsukamoto collection, <i>Versus</i>, <i>Warning from Space</i>, the
      <i>Yokai Monsters</i>
      series
    </:works>
  </.acknowledgement_card>
  <.acknowledgement_card
    history="Bought by DreamWorks"
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/labels/Classic%20Media.png"
    title="Classic Media"
  >
    <:works>
      <i>Godzilla</i>
      (1954), <i>Godzilla Raids Again</i>, <i>Mothra vs. Godzilla</i>, <i>Ghidorah, the Three-Headed Monster</i>, <i>Invasion of Astro-Monster</i>, <i>All Monsters Attack</i>, <i>Terror of Mechagodzilla</i>,
      <i>Rodan</i>
      and <i>War of the Garguantas</i>
      double feature including the documentary <i>Bringing Godzilla Down to Size</i>
    </:works>
  </.acknowledgement_card>
  <.acknowledgement_card
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/labels/Columbia%20TriStar%20Television.png"
    title="Columbia/TriStar"
    history="Rolled up under Sony Pictures"
  >
    <:works>
      The Heisei <i>Godzilla</i>
      series from 1991-1995 (debuted on VHS), the Millennium <i>Godzilla</i>
      series through 2003
    </:works>
  </.acknowledgement_card>
  <.acknowledgement_card
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/labels/Criterion%20Collection%20Logo.png"
    title="The Criterion Collection"
    url="https://www.criterion.com/"
    domain="criterion.com"
  >
    <:works>
      The majority of Akira Kurosawa's works, the entire Showa <i>Godzilla</i>
      series, the <i>Zatoichi</i>
      series, the <i>Lone Wolf and Cub</i>
      series, <i>The Sword of Doom</i>, <i>The Human Condition</i>, <i>Three Outlaw Samurai</i>, the
      <i>Lady Snowblood</i>
      series, the <i>Rebel Samurai</i>
      collection, Eclipse Series 7 & 23 (more Kurosawa), Eclipse Series 37:
      <i>When Horror Came to Shochiku</i>
    </:works>
  </.acknowledgement_card>
  <.acknowledgement_card
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/labels/Discotek%20Logo.png"
    title="Discotek"
    url="https://www.discotekmedia.com/"
    domain="discotekmedia.com"
  >
    <:works>
      <i>The Bullet Train</i>, <i>Sayonara, Jupiter</i>, <i>Jin-Roh: The Wolf Brigade</i>
    </:works>
  </.acknowledgement_card>
  <.acknowledgement_card
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/labels/Eleven%20Arts%20Logo.webp"
    title="Eleven Arts"
    url="https://www.elevenarts.net/"
    domain="elevenarts.net"
  >
    <:works><i>Space Battleship Yamato</i></:works>
  </.acknowledgement_card>
  <.acknowledgement_card
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/labels/Funimation%20logo%20(1).png"
    title="Funimation"
    url="https://www.funimation.com/"
    domain="funimation.com"
    history="Merged with Crunchyroll"
  >
    <:works>
      The <i>Assassination Classroom</i>
      series, the <i>Attack on Titan</i>
      series, the works of Mamoru Hosoda, the <i>Evangelion Rebuild</i>
      series, <i>Ghost in the Shell 2: Innocence</i>, <i>Death Note: Light Up the New World</i>, <i>I Am A Hero</i>, <i>Shin Godzilla</i>, <i>Goemon</i>, <i>Kamui Gaiden</i>, <i>Kingdom</i>, <i>Mushi-shi</i>, <i>Oblivion Island: Haruka and the Magic Mirror</i>, the
      <i>Parasyte</i>
      series, the <i>Rurouni Kenshin</i>
      series, <i>Shinobi: Heart Under Blade</i>
    </:works>
  </.acknowledgement_card>
  <.acknowledgement_card
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/labels/Geneon%20logo.png"
    title="Geneon"
    history="Formerly Pioneer, currently Universal"
  >
    <:works><i>Dororo</i>, the <i>Onmyoji</i> series, <i>Tetsujin-28</i></:works>
  </.acknowledgement_card>
  <.acknowledgement_card
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/labels/GKIDS%20logo.png"
    title="GKIDS"
    url="https://gkids.com/"
    domain="gkids.com"
  >
    <:works>
      <i>Lupin III: The First</i>, the works of Studio Ghibli, <i>Evangelion 3.0+1.0: Thrice Upon a Time</i>, <i>Belle</i>, <i>Mirai</i>, the works of Makoto Shinkai, the works of Satoshi Kon
    </:works>
  </.acknowledgement_card>
  <.acknowledgement_card
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/labels/Kraken%20Releasing%20Logo.jpg"
    title="Kraken Releasing"
    history="Defunct, licenses owned by Sentai Filmworks"
  >
    <:works>
      <i>Godzilla vs. the Sea Monster</i>, <i>Godzilla vs. the Smog Monster</i>, <i>Godzilla on Monser Island</i>,
      <i>Godzilla 1984</i>
    </:works>
  </.acknowledgement_card>
  <.acknowledgement_card
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/labels/Magnet%20Logo%20Entertainment.png"
    title="Magnet"
    url="https://www.magnetreleasingfilms.com/"
    domain="magnetreleasingfilms.com"
  >
    <:works><i>13 Assassins</i></:works>
  </.acknowledgement_card>
  <.acknowledgement_card
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/labels/Media%20Blasters%20Logo.png"
    title="Media Blasters"
    url="http://media-blasters.com/"
    domain="http://media-blasters.com/"
    history="Includes the Tokyo Shock label"
  >
    <:works>
      <i>Alive</i>, <i>Aragami</i>, <i>Atragon</i>, <i>Death Trance</i>, <i>Dogora</i>, the
      <i>Eko Eko Azarak</i>
      series, <i>Frankenstein Conquers the World</i>, <i>God's Left Hand, Devil's Right Hand</i>, <i>Gojoe</i>, <i>Latitude Zero</i>, <i>Makai Tensho: Samurai Reincarnation</i>, <i>Masked Rider: The First</i>, <i>Matango</i>, <i>Mechanical Violator Hakaider</i>, <i>Moon Over Tao</i>, <i>The Mysterians</i>,
      <i>Pyrokinesis</i>
      (<i>Crossfire</i>), <i>Sky High</i>, <i>Space Amoeba</i>, <i>Varan the Unbelievable</i>, <i>Versus</i>,
      <i>Zatoichi</i>
      (1989), the <i>Zëiram</i>
      series
    </:works>
  </.acknowledgement_card>
  <.acknowledgement_card
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/labels/Mill%20Creek%20Entertainment%20R%2059.jpeg"
    title="Mill Creek Entertainment"
    url="https://www.millcreekent.com/"
    domain="millcreekent.com"
  >
    <:works>
      <i>Battle in Outer Space</i>
      & <i>The H-Man</i>
      double feature, The <i>Daimajin</i>
      series, the Heisei & Showa <i>Gamera</i>
      series (released separately), <i>Mothra</i>, the entire <i>Ultra</i>/<i>Ultraman</i> series
    </:works>
  </.acknowledgement_card>
  <.acknowledgement_card
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/labels/Miramax%20Films%20logo.png"
    title="Miramax"
    url="https://www.miramax.com/"
    domain="miramax.com"
  >
    <:works>
      <i>Avalon</i>, <i>Godzilla vs. Biollante</i>
    </:works>
  </.acknowledgement_card>
  <.acknowledgement_card
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/labels/Shout%20Factory%20logo.webp"
    title="Shout Factory"
    url="https://shoutfactory.com/"
    domain="shoutfactory.com"
  >
    <:works>
      The Showa <i>Gamera</i>
      series, <i>Mystery Science Theater 3000</i>
      (including <i>MST3K vs. Gamera</i>), the Sonny Chiba collection, the Classic Tokusatsu collection
    </:works>
  </.acknowledgement_card>
  <.acknowledgement_card
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/labels/Sony%20Pictures%20Logo.png"
    title="Sony Pictures"
    url="https://www.sonypictures.com/"
    domain="sonypictures.com"
  >
    <:works>
      The <i>Icons of Sci-Fi</i>
      Toho Collection, <i>Godzilla vs. the Sea Monster</i>, <i>Son of Godzilla</i>, <i>Godzilla vs. Hedorah</i>, <i>Godzilla vs. Gigan</i>, <i>Godzilla vs. Mechagodzilla</i>, <i>Godzilla: Final Wars</i>,
      <i>The Sky Crawlers</i>
    </:works>
  </.acknowledgement_card>
  <.acknowledgement_card
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/labels/SRS%20Cinema%20Logo.webp"
    title="SRS Cinema"
    url="https://srscinemastore.com/"
    domain="srscinemastore.com"
  >
    <:works>
      <i>The Great Buddha Arrival</i>, <i>The Great Yokai War: Guardians</i>, <i>Nezura 1964</i>, the works of Shinpei Hayashiya,
      <i>The Whale God</i>
    </:works>
  </.acknowledgement_card>
  <.acknowledgement_card
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/labels/Viz%20Red%20Logo.webp"
    title="Viz Pictures"
    history="aka New People Entertainment, defunct"
    url="https://www.viz.com/"
    domain="viz.com"
  >
    <:works>
      The <i>20th Century Boys</i>
      series, the <i>Death Note</i>
      series, the <i>Gantz</i>
      series, <i>K-20: The Fiend with Twenty Faces</i>
    </:works>
  </.acknowledgement_card>
  <.acknowledgement_card
    image_url="https://tcpyguvhxiihxcocbhoh.supabase.co/storage/v1/object/public/godzilla-cineaste-public/content/about/acknowledgements/labels/Well%20Go%20USA%20Logo.png"
    title="Well Go USA Entertainment"
    url="https://wellgousa.com/"
    domain="wellgousa.com"
  >
    <:works>
      <i>Assault Girls</i>, <i>Crazy Samurai: 400 vs. 1</i>, <i>Dead Ball</i>,
      <i>The Great War of Archimedes</i>
    </:works>
  </.acknowledgement_card>
</div>
