<.about_title active_section={:gist} />
<div class="font-content text-gray-700">
  The Godzilla Cineaste is a fan-made website dedicated to Japanese science fiction and fantasy films. The nucleus of the site’s content is <i>kaiju eiga</i>, that is, the “monster film” genre, with which I’ve held a life-long fascination. The scope of the site grew as I continued developing it until it became what you see now. I haven’t been to all the conventions and haven’t spoken to all the stars (but I’d sure love to sometime). I’m just a guy who’s spent a long time collecting movies and learning how to code. As mentioned on the home page, this site is a labor of love, so updates will occur infrequently and without warning (I’m also a family guy, so, you know, priorities).
</div>
